<!DOCTYPE html>

<html>

<head>
    <title> About </title>
    <link rel="icon" href="/img/favicon.png">
</head>

<body>
    <header>
        <h1> {{title}} </h1>
        <div class="navbar">
            <a href="/"> Weather </a>
            <a href="/about" style="color: black;"> About </a>
            <a href="/help"> Help </a>
        </div>
    </header>
    <div class="main-content">
        {{>header}}
        <div class="text">
            <p>
                Hi There <span> <img class="portrait other" src="/img/handwaving.png" alt=""> </span><br><br>
                Yash Lakade Here!! <br><br>
                I have created these web app to check the current temperature of any location quickly!
            </p>
           
            <p>
                You can search any City or Place's name from the search box to find out the current weather there. <br><br>
                The result will consist of the exact location of the place you searched followed by another line containing the 
                current temperature in Degrees Celcius (°C).
            </p>
        </div>
    </div>
    
    {{>footer}}
</body>

</html>